
            body {
                /* Attractive gradient background */
                background: linear-gradient(135deg, #c3e7e8 0%, #eacec2 100%);
                margin: 0;
                font-family: Arial, sans-serif;
                font-size: 1.15em;
            }
            .nav-box {
                background: #ffffffcc; /* semi-transparent white */
                border-radius: 16px;
                box-shadow: 0 4px 16px rgba(67, 198, 172, 0.2);
                display: inline-block;
                padding: 20px 30px;
                margin-top: 20px;
                
            }
            .nav-box a {
                color: #e8417e;
                text-decoration: none;
                font-weight: bold;
                margin: 0 18px;
                padding: 10px 18px;
                border-radius: 8px;
                transition: background 0.2s;
                font-size: 1.15em;
            }
            .nav-box a:hover {
                background: #f8ffae;
                color: #333;
            }
            .main-name {
        font-family: 'Segoe Script', cursive;
        font-size: 2.8em;
        color: #4980b4;
        letter-spacing: 2px;
        margin-bottom: 10px;
        font-weight: bold;
        text-shadow: 1px 2px 8px #43c6ac44;
        font-size: 3.2em;
    }
    .about-title {
        font-family: cursive;
        font-size: 2em;
        color: #c080f1;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size:2em;
    }
    .about {
        font-family:  'Segoe Script', cursive;
        font-size: 2em;
        color: #10a8d2;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size:2em;
    }
    .abouut{
        font-family: cursive;
        font-size: 1em;
        color: #2a292b;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: lighter;
        font-size:1em;
    }
    .section-divider {
    border: none;
    border-top: 2px solid #2f2f32;
    margin: 40px 0 30px 0;
    width: 100%;
    opacity: 0.6;
}
.aboutt {
        font-family:  'Segoe Script', cursive;
        font-size: 5em;
        color: #10a8d2;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size:5em;
    }
    .skill-box span{
        font-size: 1.15em;
    }
    